{% extends 'fitness/base.html' %}

{% block title %}Manage Challenges{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Manage Challenges</h2>
    <div class="text-center mb-4">
        <a href="{% url 'create_challenge' %}" class="btn btn-custom">Create New Challenge</a>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Public Challenges</h3>
            <ul class="list-group">
                {% for challenge in public_challenges %}
                    <li class="list-group-item">
                        <a href="{% url 'challenge_detail' challenge.id %}" class="text-decoration-none">{{ challenge.name }} ({{ challenge.challenge_type }})</a>
                        <br>Description: {{ challenge.description }}
                        <br>Group: {{ challenge.fitness_group.name }}

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Private Challenges</h3>
            <ul class="list-group">
                {% for challenge in private_challenges %}
                    <li class="list-group-item">
                        <a href="{% url 'edit_challenge' challenge.id %}" class="text-decoration-none">{{ challenge.name }} ({{ challenge.challenge_type }})</a>
                        <br>Group: {{ challenge.fitness_group.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Pending Join Requests</h3>
            <ul class="list-group">
                {% for invitation in pending_invitations %}
                    <li class="list-group-item">
                        {{ invitation.sender.username }} has requested to join {{ invitation.challenge.name }}
                        <form method="POST" action="{% url 'approve_challenge_join_request' invitation.id %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                        <form method="POST" action="{% url 'reject_challenge_join_request' invitation.id %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Reject</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}