{% extends 'fitness/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-5 mb-5">
    <h1 class="text-center">Welcome to the Fitness Friends Challenge Hub</h1>
    <p class="text-center">Track your fitness journey, achieve your goals, and have fun with your friends along the way.</p>
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Leaderboard</h2>
            <form method="GET" action="{% url 'home' %}" class="form-inline justify-content-center">
                {% csrf_token %}
                <label for="challenge" class="mr-2">Select Challenge:</label>
                <select name="challenge" id="challenge" class="form-control" onchange="this.form.submit();">
                    <option value="">All Challenges Im Part Of</option>
                    {% for challenge in active_challenges %}
                    <option value="{{ challenge.id }}" {% if challenge == selected_challenge %}selected{% endif %}>
                        {{ challenge.name }}
                    </option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <table class="table table-striped table-bordered">
                <thead class="custom-thead">
                    <tr>
                        <th>Rank</th>
                        <th>User</th>
                        <th>Total TSS</th>
                        <th>Week TSS</th>
                        <th>Challenge</th>
                        <th>Begin Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in leaderboard_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ entry.user__username }}</td>
                        <td>{{ entry.total_tss }}</td>
                        <td>{{ entry.week_tss }}</td>
                        <td>{{ entry.challenge_name }}</td>
                        <td>{{ entry.challenge_start_date }}</td>
                        <td>{{ entry.challenge_end_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% comment %} <p>var: {{ selected }}</p> {% endcomment %}
    {% comment %} {% if leaderboard_data.challenge_name == "" %} {% endcomment %}
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">Your TSS</h2>
            <canvas id="tssChart" width="400" height="200"></canvas>
            <!-- Debug statements -->
            {% comment %} <p>TSS Data: {{ tss_data }}</p> {% endcomment %}
        </div>
    </div>

    <script>
        var ctx = document.getElementById('tssChart').getContext('2d');
        var tssData = {{ tss_data|safe }};
        console.log("TSS Data:", tssData);

        var colors = [
            'rgba(75, 192, 192, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ];
        var datasets = tssData.map(function(participant, index) {
            return {
                label: participant.username,
                data: participant.sums,
                borderColor: colors[index % colors.length],
                borderWidth: 2,
                fill: false
            };
        });

        var tssChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: tssData.length > 0 ? tssData[0].dates : [],
                datasets: datasets
            },
            options: {
                scales: {
                    y: {
                        title: {
                            display: true,
                            text: 'TSS'
                        }
                    }
                }
            }
        });
    </script>
{% comment %} {% endif %} {% endcomment %}

{% else %}
<p>Please <a href="{% url 'login' %}">log in</a> to view your fitness data.</p>
{% endif %}
{% endblock %}
