{% extends 'fitness/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container mt-5 mb-5">
    <h1 class="text-center">Welcome to the Fitness Friends Challenge Hub</h1>
    <p class="text-center">Track your fitness journey, achieve your goals, and have fun with your friends along the way.</p>
    <p class="text-center">Challenges are a fantastic way for you and your friends to stay active and motivated by working towards a common goal. Whether it’s covering a certain number of kilometers, burning calories, putting in effort, or spending time exercising, you can set and achieve these goals together over a month, a year, or even during vacations.</p>

{% else %}
<p>Please <a href="{% url 'login' %}">log in</a> to view your fitness data.</p>
{% endif %}
{% endblock %}