{% extends 'fitness/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 class="text-center">{{ user.username }}'s Profile</h2>
        </div>
        <div class="card-body">
            <p><strong>Name:</strong> {{ user.last_name }}</p>
            <p><strong>Last Name:</strong> {{ user.first_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Date of Birth:</strong> {{ user_profile.date_of_birth }}</p>
            <p><strong>Height:</strong> {{ user_profile.height }} cm</p>
            <p><strong>Weight:</strong> {{ user_profile.weight }} kg</p>
            <p><strong>Fitness Level:</strong> {{ user_profile.fitness_level }}</p>
            {% if fitness_groups %}
                <p><strong>Groups:</strong></p>
                <ul>
                    {% for group in fitness_groups %}
                        <li>{{ group.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p><strong>Not in a group yet</strong></p>
            {% endif %}
            <p><strong>Bio:</strong> {{ user_profile.bio }}</p>
        </div>
    </div>
</div>
{% endblock %}
